/* Pequenos dispositivos 100px & 300px */
@media (max-width: 320px) {
  .container {
    margin-inline: 3rem;
  }

  .quadrado-azul {
    width: 1rem;
    height: 1rem;
  }

  .inicio-perfil .quadrado-azul {
    top: 3rem;
    left: -0.5rem;
  }

  .inicio-nome {
    font-size: var(--biggest-font-size-2);
    margin-bottom: 40px;
  }

  .inicio-social {
    left: -5rem;
    row-gap: 1rem;
  }

  .inicio-imagem {
    width: 7rem;
  }

  .sobre-imagem {
    width: 7rem;
  }

  .sobre-linha {
    right: 6rem;
    top: -1rem;
    width: 3rem;
  }

  .sobre-sombra {
    display: none;
  }

  .icon-habilidade {
    width: 2.5rem;
  }

  .sobre-botoes {
    flex-direction: column;
    gap: 20px;
  }

  .botao {
    padding: 0.7rem;
  }

  .botao-fantasma {
    padding: 0.2rem;
  }

  .projetos-imagem {
    filter: blur(0px);
  }

  .contato-dados {
    width: 100%;
  }

  .contato-dados .titulo-2 {
    transform: translateX(0);
  }
}

/* Pequenos dispositivos 300px & 500px */
@media screen and (min-width: 321px) and (max-width: 580px) {
  .container {
    margin-inline: 1rem;
  }

  .inicio-imagem {
    width: 12.25rem;
  }

  .sobre-imagem {
    width: 12.25rem;
  }

  .sobre-box {
    bottom: -1rem;
  }

  .sobre-box::after {
    height: 2.9rem;
    width: 2.7rem;
    left: -3.5px;
  }

  .sobre-sombra {
    width: 10rem;
    height: 25rem;
    right: -2.8rem;
  }

  .icon-habilidade {
    width: 3.5rem;
  }

  .sobre-botoes {
    flex-direction: column;
    gap: 20px;
  }

  .projetos-imagem {
    filter: blur(0px);
  }

  .contato-dados {
    width: 100%;
  }

  .contato-dados .titulo-2 {
    transform: translateX(0);
  }

  .contato-social-link {
    color: var(--white-color);
  }
}

@media (min-width: 420px) {
  .sobre-botoes {
    flex-direction: row;
  }
}

/* Dispositivos Médios 580px */
@media screen and (min-width: 580px) {
  .inicio-container,
  .sobre-container,
  .habilidades-container,
  .projetos-container {
    grid-template-columns: 21.875rem;
    justify-content: center;
  }

  .contato-dados {
    width: 21.875rem;
    padding: 4rem 1.5rem;
    margin-inline: auto;
  }

  .contato-container {
    grid-template-columns: 31.25rem;
    justify-content: center;
  }

  .contato-grupo {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contato-social {
    background-color: transparent;
  }

  .contato-social-seta {
    filter: invert(1);
  }

  .contato-social-descricao-1 {
    color: var(--text-color);
  }

  .contato-social-descricao-2 {
    color: var(--title-color);
  }

  .tema-escuro .contato-social-seta {
    filter: none;
  }

  .projetos-imagem {
    filter: blur(0px);
  }

  .sobre-sombra {
    height: 45rem;
  }

  .contato-dados {
    border-radius: 4%;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.378) */
  }

  .contato-email {
    border-radius: 4%;
  }
}

/* Dispositivos Médios 780px */
@media screen and (min-width: 780px) {
  .projetos-container {
    grid-template-columns: repeat(2, 350px);
  }

  .habilidades-container {
    grid-template-columns: 35rem;
  }

  .sobre-lista {
    text-align: center;
  }

  .contato-dados {
    border-radius: 4%;
  }
}

/* Dispositivos Grandes 1150px */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 12rem 8rem;
  }

  .titulo-1::after,
  .titulo-2::after {
    width: 4.375rem;
    height: 3rem;
  }

  .quadrado-azul {
    transform: scale(1.2);
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav-title,
  .nav-name,
  .nav-close,
  .nav-toggle {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .nav-link {
    color: var(--text-color);
    font-size: var(--normal-font-size);
  }

  .nav-link:hover {
    color: var(--title-color);
  }

  .nav-link::after {
    background-color: var(--blue-color-light);
  }

  .nav-link-botao {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1.1rem 1.5rem;
    border-radius: 5px;
  }

  .nav-link-botao:hover {
    color: var(--white-color);
  }

  .nav-link-botao::after {
    background-color: transparent;
  }

  .mudar-tema {
    position: absolute;
    color: var(--text-color);
  }

  .mudar-tema:hover {
    color: var(--title-color);
  }

  .inicio-container {
    grid-template-columns: repeat(2, 28.75rem);
    gap: 6rem 9rem;
    align-items: center;
    padding-block: 5.5rem;
  }

  .inicio-nome {
    font-size: var(--biggest-font-size-3);
    align-self: flex-end;
  }

  .inicio-perfil {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .inicio-imagem {
    width: 28.175rem;
  }

  .inicio-sombra {
    right: -1.25rem;
    bottom: -1.2rem;
    border: 6px solid var(--black-color);
  }

  .inicio-nome,
  .inicio-descricao {
    text-align: initial;
  }

  .inicio-info {
    margin-top: 0;
    align-self: flex-start;
  }

  .inicio-descricao {
    position: relative;
    font-size: var(--h2-font-size);
    margin-bottom: 5.5rem;
    padding-left: 3rem;
  }

  .inicio-descricao::after {
    content: "";
    width: 2rem;
    height: 2px;
    background-color: var(--black-color);
    position: absolute;
    left: 0;
    top: 14px;
  }

  .inicio-scroll {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  .inicio-scroll-texto {
    display: block;
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
  }

  .inicio-scroll-box {
    width: 3rem;
    height: 2.75rem;
  }

  .inicio-scroll-box i {
    font-size: 1.5rem;
  }

  .inicio-perfil .quadrado-azul {
    width: 2rem;
    height: 2rem;
    left: -0.9rem;
    top: 13rem;
  }

  .inicio-seta {
    top: 4.5rem;
    left: -8rem;
    rotate: 80deg;
    width: 5rem;
  }

  .inicio-linha {
    left: -15rem;
    bottom: 4rem;
    width: 5rem;
    rotate: 30deg;
  }

  .inicio-social {
    left: initial;
    right: -6rem;
  }

  .inicio-social-link {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .sobre-container {
    grid-template-columns: 27.5rem 32.81rem;
    gap: 1rem 9rem;
    align-items: center;
    padding-block: 1rem;
  }

  .sobre-container .titulo-1::after,
  .habilidades-container .titulo-1::after,
  .projetos .titulo-1::after {
    top: -15px;
  }

  .sobre-perfil {
    order: -1;
    grid-row: 1 / 3;
  }

  .sobre-imagem {
    width: 28.175rem;
  }

  .sobre-img {
    border: 8px solid var(--white-color);
  }

  .sobre-sombra {
    width: 15rem;
    height: 55rem;
    top: -2rem;
    right: -5.5rem;
    border-bottom: 4px solid var(--blue-color);
  }

  .sobre-perfil .quadrado-azul {
    width: 2rem;
    height: 2rem;
    right: -4rem;
    top: 4.5rem;
  }

  .sobre-linha {
    width: 5rem;
    right: -2rem;
    top: 10rem;
  }

  .sobre-box {
    width: 4rem;
    height: 4rem;
    right: -0.75rem;
  }

  .sobre-container .titulo-1 {
    align-self: flex-end;
    margin-inline: 0;
  }

  .sobre-info {
    align-self: flex-start;
    padding-left: 3rem;
  }

  .sobre-descricao {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }

  .sobre-descricao::after {
    width: 2rem;
    height: 2px;
    left: -3rem;
    top: 14px;
  }

  .habilidades-container {
    grid-template-columns: 40rem;
  }

  .servicos-container {
    grid-template-columns: repeat(3, 282px);
    column-gap: 5rem;
    padding-block: 3rem 5rem;
  }

  .servicos-content {
    padding: 6.5rem 1.5rem 3.5rem;
    border: 6px solid var(--black-color);
  }

  .servicos-icon i {
    font-size: 3rem;
  }

  .servicos-box {
    width: 32px;
    height: 32px;
  }

  .servicos-titulo {
    margin-bottom: 2rem;
  }

  .servicos-card:hover .servicos-borda {
    transform: translate(2rem, 2rem);
  }

  .projetos-container {
    grid-template-columns: repeat(3, 22rem);
    padding-block: 3rem 1rem;
  }

  .projetos-card {
    padding: 1.25rem 1.25rem 2.5rem;
  }

  .projetos-imagem {
    margin-bottom: 1rem;
    filter: blur(2px);
  }

  .projetos-content {
    margin-bottom: 2rem;
  }

  .projetos-botao {
    right: 1.25rem;
  }

  .contato-container {
    grid-template-columns: 27.5rem 42rem;
    grid-template-rows: initial;
    padding-bottom: 2rem;
  }

  .contato-email {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 7rem 5.5rem 6rem 7.5rem;
    margin-top: 0;
  }

  .contato-titulo {
    font-size: var(--h3-font-size);
    text-align: initial;
  }

  .contato-box {
    height: 3.75rem;
  }

  .contato-form .contato-area {
    height: 15rem;
  }

  .contato-botao {
    margin-top: 2rem;
    width: max-content;
  }

  .contato-mensagem {
    bottom: -2.5rem;
  }

  .contato-dados {
    width: 24.7rem;
    height: 24rem;
    padding: 4.5rem 3.5rem 3.5rem;
    margin: 7.5rem 0 0 8rem;
    border-bottom: 6px solid var(--blue-color);
    border-radius: 4%;
  }

  .contato-dados .titulo-2 {
    margin: 0 0 2rem;
    transform: translateX(-6.5rem);
  }

  .contato-social {
    margin-left: 8rem;
    text-align: initial;
  }

  .contato-social-dados {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
  }

  .contato-social-seta {
    width: 3rem;
  }

  .contato-social-links {
    column-gap: 1;
  }

  .contato-social-link {
    font-size: 1.2rem;
    padding: 0.75rem;
  }

  .tema-escuro .contato-dados {
    box-shadow: 4px 0 8px rgba(10, 10, 10, 0.497);
  }

  .footer-container {
    padding-block: 4rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer-links {
    column-gap: 3rem;
    order: 1;
  }

  .rolar-para-cima {
    right: 2rem;
  }
}
