.footer {
  background-color: var(--black-color);
}

.footer-container {
  padding-block: 3rem 2rem;
  row-gap: 2.5rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer-link {
  color: var(--white-color);
  transition: color .4s;
}

.footer-link:hover {
  color: var(--text-color-light);
}

.footer-copy {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer-copy a {
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.footer-copy a:hover {
  color: var(--blue-color-light);
  transition: .5s ease;
}

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: rgb(166, 166, 166);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-color-light);
}