.rolar-para-cima {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--blue-color-light);
  display: inline-flex;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.601);
  font-size: 1.25rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: bottom 0.5s, transform 0.5s, background-color 0.5s ease-in-out;
}

.rolar-para-cima:hover {
  transform: translateY(-.5rem);
}

.mostrar-rolagem {
  bottom: 3rem;
}

.rolar-para-cima i {
  animation: rolar-para-cima 1s infinite;
}

@keyframes rolar-para-cima {
  0% {
    transform: translateY(0.6rem);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}