.nav-buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.mudar-tema {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 1s;
}

.tema-escuro {
  --blue-color: hsl(220, 59%, 47%);
  --blue-color-light: rgb(58, 124, 255);
  --black-color: rgb(46, 46, 46);
  --black-color-light: rgb(77, 77, 77);
  --title-color: rgb(242, 242, 242);
  --text-color: rgb(179, 179, 179);
  --body-color: rgb(20, 20, 20);
  --container-color: rgb(31, 31, 31);
  --container-projeto: rgb(45, 45, 45);
}

.tema-escuro .inicio-social-link {
  color: var(--white-color);
}

.tema-escuro .sombra-header {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.tema-escuro .titulo-1::after, .tema-escuro .titulo-2::after {
  background-color: rgba(0, 75, 224, 0.637);
}

.tema-escuro :is(.inicio-seta, .inicio-linha, .sobre-linha) {
  filter: none;
}

.tema-escuro .inicio-descricao b {
  background: linear-gradient(90deg, rgba(0, 75, 224, 0.637), rgba(3, 86, 252, 0));
}

.tema-escuro :is(.botao-fantasma) {
  color: var(--white-color);
}

.tema-escuro .projetos-card {
  background-color: var(--container-projeto);
}

.tema-escuro .projetos-card:hover {
  background-color: var(--body-color);
}

.tema-escuro .contato-social-link {
  color: var(--white-color);
}

.tema-escuro :is(.contato-email, .contato-input, .contato-label) {
  background-color: var(--container-color);
}

.tema-escuro .footer {
  background-color: rgb(10, 10, 10);
}

.tema-escuro::-webkit-scrollbar {
  background-color: hsl(0, 0%, 20%);
}