@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --header-height: 3.5rem;

  /* Cores */
  --first-color: rgb(252, 61, 3);
  --black-color: rgb(0, 0, 0);
  --black-color-light: rgb(102, 102, 102);
  --white-color: rgb(242, 242, 242);
  --title-color: rgb(0, 0, 0);
  --text-color: rgb(89, 89, 89);
  --text-color-light: rgb(163, 163, 163);
  --body-color: rgb(222, 222, 222);
  --container-color: rgb(212, 212, 212);

  /* Fontes e Tipografia */
  --body-font: "Bai Jamjuree", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Peso/Espessura da Fonte */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Z Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}
